Babel==2.3.4
Django==1.7.6
django-class-based-auth-views==0.3
django-crispy-forms==1.4.0
django-devserver==0.8.0
django-grappelli==2.6.3
django-model-utils==2.2
django-ordered-model==1.1.0
django-phonenumber-field==1.1.0
django-pipeline==1.4.7
django-redis==3.8.3
django-templated-email==0.4.9
facepy==1.0.8
futures==3.0.5
gnureadline==6.3.3
hiredis==0.1.6
ipython==3.0.0
path.py==7.2
phonenumberslite==7.4.0
Pillow==3.2.0
psycopg2==2.5.4
pytz==2016.4
readline==6.2.4.1
redis==2.10.5
requests==2.10.0
six==1.10.0
sorl-thumbnail==12.3
