
.site-header {
    z-index: 3;
}

html, body {
    height: 100%;
}

h4, h3 {
    margin-bottom: 5px;
}


.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -201px;
}

.page-wrap:after {
    content: "";
    display: block;
}

.site-footer, .page-wrap:after {
    height: 201px;
}

@media (max-width: 768px) {

    .page-wrap {
        margin-bottom: auto;
    }

    .site-footer, .page-wrap:after {
        height: auto;
    }

}

.address p {
    margin-bottom: 5px;
}

.subtitle {
    color: #86b323;
}

.row-spacer-bottom {
    margin-bottom: 20px;
}

button.btn-switch, .btn.btn-switch {
    width: 179px;
}

.home-boxes {
    padding: 20px 0 0 0;
}

.box-card-container {
    position: relative;
}

.box-card {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.box {
    z-index: 3;
}

input[type=submit] {
    width: auto !important
}

.form-success {
    padding: 10px;
  border: 1px solid #86b323;
  color: #86b323;
  background-color: rgb(237, 237, 237);
  text-transform: uppercase;
  text-align: center;
}

.post-contact .col-4 {
    padding-top: 10px;
}

@media (max-width: 768px) {

    .post-contact .col-4 {
        padding-top: auto;
        margin-top: 50px;
    }

}


.slider-home {
    max-height: 700px !important;
}

.home-boxes {
    background : #e5e5e5;;
}

.partner-info {
  float: left;
  margin-right: 10px;
  border-bottom: 1px solid rgb(144, 185, 56);
  padding: 2px 5px;
  background: rgb(234, 234, 234);
}

@media (max-width: 990px) {
    .slide-box {
        position:relative !important;
        top: 200px !important;
    }

    .btns-switch {
        position:relative;
        height: 50px;
        margin-top : 50px;
    }

    .box-card {
        height: 228px;
    }
    .box-card-container {
        margin-bottom: 248px;

    }

}