@-webkit-keyframes card-active {
    0% {margin-top : 0;z-index:3}
    50% {margin-top : -35%;z-index:3}
    51% {z-index : 5}
    100% {margin-top : 0;z-index : 5}
}

@-moz-keyframes card-active {
    0% {margin-top : 0;z-index:3}
    50% {margin-top : -35%;z-index:3}
    51% {z-index : 5}
    100% {margin-top : 0;z-index : 5}
}

@keyframes card-active {
    0% {margin-top : 0;z-index:3}
    50% {margin-top : -35%;z-index:3}
    51% {z-index : 5}
    100% {margin-top : 0;z-index : 5}
}

.card-active {
    -webkit-animation: card-active 1s ease-in-out forwards;
    -moz-animation: card-active 1s ease-in-out forwards;
    animation: card-active 1s ease-in-out forwards;
}

@-webkit-keyframes card-inactive {
    0% {margin-top : 0;z-index:5}
    50% {margin-top : 35%;z-index:5}
    51% {z-index : 3}
    100% {margin-top : 0;z-index : 3}
}

@-moz-keyframes card-inactive {
    0% {margin-top : 0;z-index:5}
    50% {margin-top : 35%;z-index:5}
    51% {z-index : 3}
    100% {margin-top : 0;z-index : 3}
}

@keyframes card-inactive {
    0% {margin-top : 0; z-index:5}
    50% {margin-top : 35%;}
    51% {z-index : 3}
    100% {margin-top : 0;z-index : 3}
}

.card-inactive {
    -webkit-animation: card-inactive 1s ease-in-out forwards;
    -moz-animation: card-inactive 1s ease-in-out forwards;
    animation: card-inactive 1s ease-in-out forwards;
}

#box-workshop .box-title {
    color : #DA5334;
}

#box-workshop {
  border-bottom: 2px solid #DA5334;
}


button.btn-secondary, .btn.btn-secondary, #box-workshop button.btn{
    background: #DA5334;
}

button.btn-secondary:hover, .btn.btn-secondary:hover, #box-workshop button.btn:hover {
    background: #DF6246;
}