{% extends "base.html" %}

{% block meta-title %}{% endblock %}
{% block meta-description %}Location et réparation de vélo, vente de pièces détachées.{% endblock %}

 {% block content %}

     <div class="slider bg with-trame"> </div>

     <section class="site-content with-background">
      <div class="container">
            <div class="slide-box">
              <h1>Global vélo </h1>
              <h2>Inauguration le 28 mars à 15h00</h2>
              <div style="padding-bottom:10px; font-weight:bold; text-transform:uppercase">
                Petits fours et raffraichissements offerts
              </div>
              <div style="">
                Pour tout renseignement, utilisez notre formulaire de <a class="" href="{% url 'shop-contact' %}">contact</a>
              </div>
            </div>
          </div>
     </section>



 {% endblock %}
