{% extends "base.html" %}
{% load i18n staticfiles %}

{% block meta-title %} - Les services en atelier{% endblock %}


{% block content %}

    <div class="bg with-trame"> </div>
    <section class="site-content with-background">
      <div class="container">
        <div class="page">
          <header class="page-header">
            <h1>{% trans "L'atelier" %}</h1>
          </header>
          <div class="page-content">
            <article class="post post-societe">

              <div class="row row-spacer-bottom" >
                <div class="col-sm-6 col-8" >
                  <h2 class="page-title subtitle" itemprop="name">Le concept</h2>
                  <p >
                  bla bla
                  </p>
                </div>

                  <div class="col-sm-6 col-4"><img src="http://placehold.it/300x300" alt=""></div>

              </div>


            </article>
          </div>
        </div>
      </div>
    </section>

{% endblock %}