
.site-header {
    z-index: 3;
}

html, body {
    height: 100%;
}

h4 {
    margin-bottom: 5px;
}


.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -201px;
}

.page-wrap:after {
    content: "";
    display: block;
}

.site-footer, .page-wrap:after {
    height: 201px;
}

@media (max-width: 768px) {

    .page-wrap {
        margin-bottom: -545px;
    }

    .site-footer, .page-wrap:after {
        height: 545px;
    }

}

.address p {
    margin-bottom: 5px;
}

.subtitle {
    color: #86b323;
}

.row-spacer-bottom {
    margin-bottom: 20px;
}

button.btn-switch, .btn.btn-switch {
    width: 179px;
}

.home-boxes {
    padding: 20px 0 0 0;
}

.box-card-container {
    position: relative;
}

.box-card {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.box {
    z-index: 3;
}

input[type=submit] {
    width: auto !important
}