/* 
 *  Owl Carousel - Animate Plugin
 */
/* line 4, ../scss/owl.scss */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 10, ../scss/owl.scss */
.owl-carousel .owl-animated-in {
  z-index: 0;
}

/* line 13, ../scss/owl.scss */
.owl-carousel .owl-animated-out {
  z-index: 1;
}

/* line 16, ../scss/owl.scss */
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* 
 *  Owl Carousel - Auto Height Plugin
 */
/* line 43, ../scss/owl.scss */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/* 
 *  Core Owl Carousel CSS File
 */
/* line 54, ../scss/owl.scss */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}

/* line 62, ../scss/owl.scss */
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}

/* line 66, ../scss/owl.scss */
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 74, ../scss/owl.scss */
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}

/* line 80, ../scss/owl.scss */
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 91, ../scss/owl.scss */
.owl-carousel.owl-loaded {
  display: block;
}

/* line 94, ../scss/owl.scss */
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

/* line 98, ../scss/owl.scss */
.owl-carousel.owl-hidden {
  opacity: 0;
}

/* line 101, ../scss/owl.scss */
.owl-carousel .owl-refresh .owl-item {
  display: none;
}

/* line 104, ../scss/owl.scss */
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 116, ../scss/owl.scss */
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}

/* line 121, ../scss/owl.scss */
.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

/* line 127, ../scss/owl.scss */
.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}

/* line 134, ../scss/owl.scss */
.owl-carousel.owl-rtl {
  direction: rtl;
}

/* line 137, ../scss/owl.scss */
.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
/* line 142, ../scss/owl.scss */
.no-js .owl-carousel {
  display: block;
}

/* 
 *  Owl Carousel - Lazy Load Plugin
 */
/* line 149, ../scss/owl.scss */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

/* line 157, ../scss/owl.scss */
.owl-carousel .owl-item img {
  transform-style: preserve-3d;
}

/* 
 *  Owl Carousel - Video Plugin
 */
/* line 164, ../scss/owl.scss */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

/* line 169, ../scss/owl.scss */
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  -moz-transition: scale 100ms ease;
  -ms-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  transition: scale 100ms ease;
}

/* line 187, ../scss/owl.scss */
.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  -moz-transition: scale(1.3, 1.3);
  -ms-transition: scale(1.3, 1.3);
  -o-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3);
}

/* line 194, ../scss/owl.scss */
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}

/* line 198, ../scss/owl.scss */
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

/* line 213, ../scss/owl.scss */
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
}

/* line 7, ../scss/global.scss */
body, html {
  height: 100%;
}

/* line 9, ../scss/global.scss */
body {
  background: #e5e5e5;
}

/* line 12, ../scss/global.scss */
html,
body,
input,
textarea,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

/* line 21, ../scss/global.scss */
.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 40px;
  overflow: auto;
}

/* line 28, ../scss/global.scss */
h4 {
  font-size: 1em;
  margin-bottom: 0;
  text-transform: uppercase;
}

/* --------------------------------------------------------------- HEADER + NAV */
/* line 34, ../scss/global.scss */
#header {
  background: #232325;
  background: -moz-linear-gradient(270deg, #3B3B3B 0%, #232325 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3B3B3B), color-stop(100%, #232325));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(270deg, #3B3B3B 0%, #232325 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(270deg, #3B3B3B 0%, #232325 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(270deg, #3B3B3B 0%, #232325 100%);
  /* ie10+ */
  background: linear-gradient(180deg, #3b3b3b 0%, #232325 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3B3B3B', endColorstr='$dark',GradientType=0 );
  /* ie6-9 */
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  position: relative;
  width: 100%;
  color: white;
  z-index: 200;
  height: 110px;
  -moz-transition: all 250ms;
  -o-transition: all 250ms;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}
/* line 56, ../scss/global.scss */
#header #menu_toggle {
  display: none;
  background: url(img/prevnext.svg) no-repeat 0 -200px;
  height: 50px;
  overflow: hidden;
  position: absolute;
  right: 30px;
  text-indent: 999px;
  top: 30px;
  white-space: nowrap;
  width: 50px;
}
/* line 69, ../scss/global.scss */
#header nav {
  float: right;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
/* line 73, ../scss/global.scss */
#header nav a {
  color: white;
  text-decoration: none;
}
/* line 74, ../scss/global.scss */
#header nav a:hover {
  border-bottom: 2px solid;
}
/* line 75, ../scss/global.scss */
#header nav ul {
  margin-top: 0;
}
/* line 78, ../scss/global.scss */
#header li {
  -moz-transition: all 250ms;
  -o-transition: all 250ms;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  display: inline-block;
  margin: 0 0 0 2em;
  line-height: 110px;
}
/* line 83, ../scss/global.scss */
#header li:first-child {
  margin-left: 0;
}
/* line 86, ../scss/global.scss */
#header h1 {
  margin: 0;
}
/* line 87, ../scss/global.scss */
#header #logo {
  -moz-transition: all 250ms;
  -o-transition: all 250ms;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  float: left;
  background: url(img/logo-gv-white-on-black.svg) no-repeat;
  background-size: auto 100%;
  height: 110px;
  width: 180px;
  text-indent: 300px;
  overflow: hidden;
  white-space: nowrap;
}

/* line 106, ../scss/global.scss */
.velos #li-velos a,
.locations #li-location a,
.shop #li-shop a {
  border-bottom: 2px solid;
}

/* --------------------------------------------------------------- MAIN */
/* line 112, ../scss/global.scss */
main {
  min-height: calc(100% - 110px);
  overflow: hidden;
  position: relative;
}

/* line 117, ../scss/global.scss */
#header.is_stuck ~ main {
  min-height: calc(100% - 80px);
}

/* --------------------------------------------------------------- HOME  */
/* --------------------------------------------------------------- SLIDES  */
/* line 126, ../scss/global.scss */
#slideshow {
  height: 400px;
  background-color: #232325;
}
/* line 129, ../scss/global.scss */
#slideshow .owl-carousel,
#slideshow .owl-stage-outer, #slideshow .owl-stage {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
/* line 136, ../scss/global.scss */
#slideshow .owl-item {
  height: 100%;
}

/* line 144, ../scss/global.scss */
.home #slideshow {
  height: calc(100vh - 110px);
}

/* line 147, ../scss/global.scss */
.slide {
  background-color: #232325;
  position: relative;
  text-align: center;
  background-size: cover;
  background-position: center center;
  height: 100%;
}
/* line 154, ../scss/global.scss */
.slide > a, .slide > span {
  color: white;
  text-decoration: none;
  position: absolute;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-flex-align: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  display: flex;
  flex-direction: column;
  flex-align: center;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 3;
}
/* line 170, ../scss/global.scss */
.slide h1, .slide h2 {
  text-transform: uppercase;
  font-size: calc(20px + 3vw);
  line-height: 1.2;
  margin: 0;
  text-shadow: 0px 0.05em 0.15em rgba(0, 0, 0, 0.8);
  -webkit-transition: all 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
  /* easeOutCubic */
  opacity: 0;
}
/* line 183, ../scss/global.scss */
.slide h1 {
  -moz-transform: translateX(-80px);
  -ms-transform: translateX(-80px);
  -webkit-transform: translateX(-80px);
  transform: translateX(-80px);
}
/* line 184, ../scss/global.scss */
.slide h2 {
  -moz-transform: translateX(80px);
  -ms-transform: translateX(80px);
  -webkit-transform: translateX(80px);
  transform: translateX(80px);
}
/* line 185, ../scss/global.scss */
.slide h2.long {
  font-size: 26px;
}
/* line 188, ../scss/global.scss */
.slide .title {
  display: block;
  margin: 0 0 1.5em;
}
/* line 192, ../scss/global.scss */
.slide .description {
  background: #fff;
  color: #000;
  border-radius: 3px;
  padding: .5em 1.25em .5em;
}

/* line 202, ../scss/global.scss */
.splash.active h1, .splash.active h2,
.owl-item.active .slide h1,
.owl-item.active .slide h2 {
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

/* line 209, ../scss/global.scss */
#dot {
  position: absolute;
  left: 50%;
  bottom: -75px;
  margin-left: -25px;
  height: 50px;
  width: 50px;
  z-index: 200;
  opacity: 1;
  background: url(img/prevnext.svg) no-repeat center -250px;
  -moz-transition: all 600ms ease-out 1000ms;
  -o-transition: all 600ms ease-out 1000ms;
  -webkit-transition: all 600ms ease-out;
  -webkit-transition-delay: 1000ms;
  transition: all 600ms ease-out 1000ms;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  /* easeOutCubic */
}

/* line 225, ../scss/global.scss */
#dot.landed {
  bottom: 15px;
}

/* line 228, ../scss/global.scss */
#dot.hidden {
  bottom: 45px;
  opacity: 0;
}

/* --------------------------------------------------------------- HOME NAVBOX */
/* line 234, ../scss/global.scss */
.home .navbox {
  position: relative;
  z-index: 4;
  margin: 0 auto;
  margin-top: 50px;
}

/* line 240, ../scss/global.scss */
.home .navbox {
  max-width: 1600px;
  padding: 0 50px;
  list-style: none;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-flex-align: center;
  display: flex;
  flex-direction: row;
  flex-align: center;
}
/* line 252, ../scss/global.scss */
.home .navbox li {
  flex: 1;
  margin: 0 0 0 40px;
}
/* line 255, ../scss/global.scss */
.home .navbox li:first-child {
  margin-left: 0;
}
/* line 258, ../scss/global.scss */
.home .navbox #box-magasin a {
  background-image: url("img/location-de-velo-nay.jpg");
}
/* line 259, ../scss/global.scss */
.home .navbox #box-locations a {
  background-image: url("img/vtc-famille.jpg");
}
/* line 260, ../scss/global.scss */
.home .navbox #box-velos a {
  background-image: url("img/wood.jpg");
}
/* line 262, ../scss/global.scss */
.home .navbox a {
  display: block;
  height: 250px;
  background-color: black;
  padding: 1em;
  text-align: center;
  position: relative;
  background-position: center center;
  background-size: cover;
}
/* line 272, ../scss/global.scss */
.home .navbox a:before {
  -moz-box-shadow: inset 0 0 2vw rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 0 2vw rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 2vw rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  content: "";
}
/* line 287, ../scss/global.scss */
.home .navbox span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  display: block;
  padding: 0.5em 2em 1em;
  text-decoration: none;
  -moz-transition: background 250ms;
  -o-transition: background 250ms;
  -webkit-transition: background 250ms;
  transition: background 250ms;
}
/* line 299, ../scss/global.scss */
.home .navbox a:hover span {
  background: rgba(0, 0, 0, 0.6);
}
/* line 301, ../scss/global.scss */
.home .navbox strong {
  display: block;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: .05em;
}

/* --------------------------------------------------------------- PAGES  */
/* line 313, ../scss/global.scss */
#map, .splash {
  height: 400px;
  width: 100%;
  background-size: cover;
  background-position: center 60%;
  background-repeat: no-repeat;
  background-color: #303030;
}

/* line 322, ../scss/global.scss */
main.page {
  position: relative;
  overflow: auto;
}

/* line 327, ../scss/global.scss */
.subnav {
  width: 250px;
  border-right: 1px solid #ccc;
  padding-right: 50px;
  margin-right: 50px;
  position: absolute;
  margin-top: 50px;
}
/* line 334, ../scss/global.scss */
.subnav a {
  text-decoration: none;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  display: block;
  margin-bottom: 1em;
}

/* line 342, ../scss/global.scss */
.page section {
  float: left;
  margin: 0 0 0px 300px;
}

/* line 346, ../scss/global.scss */
.page article {
  padding-top: 50px;
  margin-bottom: 50px;
}

/* line 350, ../scss/global.scss */
.page article h1 {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 1.2;
}

/* line 356, ../scss/global.scss */
.page article h2 {
  background: #A9C944;
  border-radius: 3px;
  color: white;
  text-align: center;
  font-size: 1.5em;
  padding: 1.5em;
}

/* line 366, ../scss/global.scss */
.page article h3 {
  margin-bottom: 0;
}

/* --------------------------------------------------------------- BIKES */
/* line 373, ../scss/global.scss */
#filtres {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 2em;
}
/* line 378, ../scss/global.scss */
#filtres li {
  display: inline-block;
  margin: 0 1em;
  position: relative;
}
/* line 379, ../scss/global.scss */
#filtres .sep {
  color: #ccc;
}
/* line 380, ../scss/global.scss */
#filtres a {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  line-height: 1.2;
  margin-bottom: .5em;
}
/* line 381, ../scss/global.scss */
#filtres a:hover, #filtres .selected {
  border-bottom: 2px solid;
}

/* line 386, ../scss/global.scss */
.sub > a:after {
  border-color: black transparent transparent;
  border-style: solid;
  border-width: 6px 5px 0;
  content: " ";
  display: block;
  float: right;
  height: 0;
  margin: 7px 0 0 10px;
  transform: rotate(360deg);
  width: 0;
}
/* line 399, ../scss/global.scss */
.sub > ul {
  display: none;
  background: #e7e7e7 none repeat scroll 0 0;
  border-radius: 3px;
  left: -1em;
  right: -1em;
  margin: 0;
  padding: 0 1em 1em;
  position: absolute;
  z-index: 200;
  text-align: left;
  top: 1.2em;
}
/* line 411, ../scss/global.scss */
.sub > ul :first-child {
  padding-top: .5em;
}
/* line 413, ../scss/global.scss */
.sub:hover > ul {
  display: block;
}

/* line 417, ../scss/global.scss */
#filtres .sub li {
  margin: 0;
  display: block;
}

/* --------------------------------------------------------------- Preload */
/* line 425, ../scss/global.scss */
.loader {
  position: absolute;
  left: -250px;
  width: 50px;
  height: 50px;
  overflow: hidden;
}

/* line 430, ../scss/global.scss */
.preloading:after, #slideshow.loading:after, #bikes.loading:after {
  content: "";
  z-index: 300;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: #cfcfcf;
}
/* line 439, ../scss/global.scss */
.preloading .loader, #slideshow.loading .loader, #bikes.loading .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  z-index: 9999;
}
/* line 446, ../scss/global.scss */
.preloading .circular, #slideshow.loading .circular, #bikes.loading .circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
/* line 455, ../scss/global.scss */
.preloading .path, #slideshow.loading .path, #bikes.loading .path {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 3s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124px;
  }
}
@keyframes color {
  100%, 0% {
    stroke: #000;
  }
  50% {
    stroke: #A9C944;
  }
}
/* --------------------------------------------------------------- BIKES */
/* line 493, ../scss/global.scss */
#bikes {
  background: #cfcfcf;
  padding: 50px 100px;
  position: relative;
}

/* line 504, ../scss/global.scss */
#bikes .owl-carousel .owl-stage-outer {
  margin-right: -50px;
}

/* line 505, ../scss/global.scss */
#bikes .owl-nav div {
  position: absolute;
  height: 50px;
  width: 50px;
  top: 50%;
  white-space: nowrap;
  margin-top: -25px;
  display: block !important;
  background: url(img/prevnext.svg) no-repeat;
  text-indent: 50px;
  overflow: hidden;
}
/* line 516, ../scss/global.scss */
#bikes .owl-nav div.owl-prev {
  left: -75px;
  background-position: 0 -100px;
}
/* line 516, ../scss/global.scss */
#bikes .owl-nav div.owl-prev:hover {
  background-position: 0 -150px;
}
/* line 517, ../scss/global.scss */
#bikes .owl-nav div.owl-next {
  right: -75px;
  background-position: 0 0;
}
/* line 517, ../scss/global.scss */
#bikes .owl-nav div.owl-next:hover {
  background-position: 0 -50px;
}

/* line 520, ../scss/global.scss */
.bike {
  float: left;
  padding: 25px;
  background: white;
  position: relative;
}
/* line 526, ../scss/global.scss */
.bike h1 {
  font-size: 1.25em;
  margin: .5em 0;
  text-transform: uppercase;
  text-align: center;
}
/* line 527, ../scss/global.scss */
.bike a {
  text-decoration: none;
}
/* line 528, ../scss/global.scss */
.bike .text {
  font-size: .85em;
  line-height: 1.5;
  max-height: 6em;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
/* line 537, ../scss/global.scss */
.bike .text h2, .bike .text h3, .bike .text h4, .bike .text p, .bike .text ul, .bike .text ol {
  display: inline;
  font-size: 1em;
}
/* line 539, ../scss/global.scss */
.bike .price {
  font-size: 1em;
  font-weight: bold;
  position: absolute;
  top: 15px;
  right: -15px;
  background: #A9C944;
  color: white;
  padding: 1em;
}

/* line 554, ../scss/global.scss */
#bikes.alt .bike img {
  width: 70%;
  max-width: 900px;
  min-width: 400px;
  display: block;
  margin: 0 auto 2em;
}
/* line 556, ../scss/global.scss */
#bikes.alt .bike h1 {
  font-size: 2.25em;
  margin: 0;
  padding-right: 12px;
  text-align: right;
  text-transform: uppercase;
}
/* line 564, ../scss/global.scss */
#bikes.alt .bike div {
  float: left;
  font-size: 1em;
  line-height: 1.6;
  width: 50%;
}
/* line 570, ../scss/global.scss */
#bikes.alt .bike .price {
  position: static;
  float: right;
  clear: both;
  margin-right: 12px;
}
/* line 576, ../scss/global.scss */
#bikes.alt .bike .text {
  padding-left: 13px;
  margin-top: 0.75em;
  font-size: 1em;
}
/* line 577, ../scss/global.scss */
#bikes.alt .bike p {
  font-size: 1em;
}

/* line 581, ../scss/global.scss */
.andmore {
  align-items: center;
  background: #a9c944 none repeat scroll 0 0;
  display: flex;
  font-size: 1.5em;
  height: 320px;
  padding: 1.5em;
  text-align: center;
  width: 100%;
}
/* line 584, ../scss/global.scss */
.andmore a {
  color: white;
}

/* --------------------------------------------------------------- MAGASIN */
/* line 596, ../scss/global.scss */
#partners {
  overflow: auto;
}

/* line 599, ../scss/global.scss */
#partners a {
  display: block;
  float: left;
  width: 25%;
  padding-right: 50px;
}
/* line 604, ../scss/global.scss */
#partners a strong {
  position: absolute;
  left: -999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
/* line 609, ../scss/global.scss */
#partners a:hover img {
  -webkit-filter: grayscale(0%);
  -webkit-transition: .250ms ease-in-out;
  -moz-filter: grayscale(0%);
  -moz-transition: .250ms ease-in-out;
  -o-filter: grayscale(0%);
  -o-transition: .250ms ease-in-out;
  filter: grayscale(0%);
}
/* line 619, ../scss/global.scss */
#partners a img {
  -webkit-filter: grayscale(100%);
  -webkit-transition: .250ms ease-in-out;
  -moz-filter: grayscale(100%);
  -moz-transition: .250ms ease-in-out;
  -o-filter: grayscale(100%);
  -o-transition: .250ms ease-in-out;
  filter: grayscale(100%);
}

/* line 630, ../scss/global.scss */
.leaflet-compact-attribution {
  display: none;
}

/* --------------------------------------------------------------- LOCATIONS */
/* line 634, ../scss/global.scss */
#locations-splash {
  background-image: url(img/WP_20150816_001.jpg);
}

/* --------------------------------------------------------------- VENTE */
/* line 640, ../scss/global.scss */
#velos-splash {
  background-image: url(img/hm_ktm_action_2016_107.jpg);
}

/* --------------------------------------------------------------- SHOP */
/* line 645, ../scss/global.scss */
#shop-splash span {
  pointer-events: none;
}

/* --------------------------------------------------------------- FORMS */
/* line 651, ../scss/global.scss */
form input[type=text],
form input[type=email],
form textarea {
  border: none;
  border-radius: 3px;
  background: white;
  padding: .5em 1.2em;
  width: 100%;
  line-height: 1.5;
  margin: 0;
}
/* line 662, ../scss/global.scss */
form .form-group {
  position: relative;
  margin: 1.5em 0;
}
/* line 666, ../scss/global.scss */
form .help-block, form .help-block-error,
form p {
  color: #666;
  font-weight: 400;
}
/* line 668, ../scss/global.scss */
form label {
  color: #666;
  display: block;
  float: left;
  margin: 0;
  width: 20%;
  padding: .5em 0;
}
/* line 676, ../scss/global.scss */
form .control-group {
  margin-bottom: .5em;
}
/* line 679, ../scss/global.scss */
form .controls,
form .help-block, form .help-block-error,
form .buttonHolder {
  margin-left: 25%;
}
/* line 683, ../scss/global.scss */
form .controls p,
form .help-block p, form .help-block-error p,
form .buttonHolder p {
  margin-left: 0;
}
/* line 685, ../scss/global.scss */
form button,
form input[type=submit] {
  padding: .5em 1.2em;
  border-radius: 3px;
  background: #A9C944;
  color: white;
  border: none;
  text-transform: uppercase;
}

/* --------------------------------------------------------------- FOOTER */
/* line 699, ../scss/global.scss */
footer {
  background: #232325;
  color: #777;
  margin-top: 50px;
  padding: 50px 0;
}
/* line 706, ../scss/global.scss */
footer a {
  color: #888;
}
/* line 706, ../scss/global.scss */
footer a:hover {
  color: #A9C944;
}
/* line 707, ../scss/global.scss */
footer p, footer h2 {
  line-height: 1.6;
}
/* line 708, ../scss/global.scss */
footer h2 {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
/* line 713, ../scss/global.scss */
footer p + h2 {
  margin-top: 2em;
}
/* line 714, ../scss/global.scss */
footer > div {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-flex-align: center;
  display: flex;
  flex-direction: row;
  flex-align: center;
}
/* line 721, ../scss/global.scss */
footer > div > div {
  flex: 1;
  margin: 0 0 0 40px;
}
/* line 724, ../scss/global.scss */
footer > div > div:first-child {
  margin-left: 0;
}
/* line 726, ../scss/global.scss */
footer > div .about img {
  display: block;
  margin-bottom: 2em;
}

@media (max-width: 850px) {
  /* line 736, ../scss/global.scss */
  .subnav {
    width: auto !important;
    border-right: none;
    padding-right: 0;
    margin-right: 0;
    position: static !important;
    margin-top: 20px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
  }
  /* line 746, ../scss/global.scss */
  .subnav a {
    display: inline-block;
    margin: 0 .5em;
    letter-spacing: 0;
  }

  /* line 753, ../scss/global.scss */
  .page section {
    float: none;
    margin: 0;
  }

  /* line 754, ../scss/global.scss */
  .page article {
    padding-top: 50px;
    margin-bottom: 10px;
  }
  /* line 755, ../scss/global.scss */
  .page article:first-child {
    padding-top: 20px;
  }
}
@media (max-width: 650px) {
  /* line 765, ../scss/global.scss */
  #header #menu_toggle {
    display: block;
  }

  /* line 767, ../scss/global.scss */
  footer > div {
    -webkit-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }

  /* line 768, ../scss/global.scss */
  footer > div > div {
    margin: 0 0 40px 0;
  }

  /* line 769, ../scss/global.scss */
  footer > div .about img {
    margin: 0 auto 2em;
  }

  /* line 770, ../scss/global.scss */
  #partners a {
    width: 50%;
  }

  /* line 772, ../scss/global.scss */
  #header #logo {
    margin: 0 auto;
    display: block;
    float: none;
  }

  /* line 773, ../scss/global.scss */
  #header nav ul {
    display: none;
  }

  /* line 774, ../scss/global.scss */
  #header nav.visible ul {
    display: block;
    background: #232325;
    left: 0;
    margin-top: 0;
    position: absolute;
    text-align: center;
    top: 110px;
    width: 100%;
    padding: 2.5em 0 2em;
  }
  /* line 784, ../scss/global.scss */
  #header nav.visible ul li {
    line-height: 1.5;
  }

  /* line 787, ../scss/global.scss */
  .home .navbox {
    display: block;
  }

  /* line 788, ../scss/global.scss */
  .home .navbox li {
    margin: 0 0 40px;
  }
}
@media (max-width: 500px) {
  /* line 794, ../scss/global.scss */
  .page article h1 {
    text-align: center;
  }

  /* line 795, ../scss/global.scss */
  form label {
    float: none;
    width: auto;
  }

  /* line 796, ../scss/global.scss */
  form .controls, form .buttonHolder {
    margin-left: 0;
  }

  /* line 798, ../scss/global.scss */
  #bikes {
    padding: 20px 50px;
  }

  /* line 799, ../scss/global.scss */
  #bikes {
    padding: 0;
  }

  /* line 800, ../scss/global.scss */
  #bikes .owl-nav div {
    position: static;
    margin-top: 0;
  }

  /* line 801, ../scss/global.scss */
  #bikes .owl-nav div.owl-prev {
    float: left;
    margin-left: 20px;
  }

  /* line 802, ../scss/global.scss */
  #bikes .owl-nav div.owl-next {
    float: right;
    margin-right: 20px;
  }

  /* line 803, ../scss/global.scss */
  #bikes .owl-nav {
    overflow: hidden;
  }

  /* line 804, ../scss/global.scss */
  #bikes .owl-carousel .owl-stage-outer {
    margin-right: 0;
  }

  /* line 805, ../scss/global.scss */
  .bike .price {
    right: 15px;
  }

  /* line 806, ../scss/global.scss */
  #header li {
    display: block;
    margin: 0 0 .5em;
  }
}
@media (max-width: 360px) {
  /* line 813, ../scss/global.scss */
  .wrapper {
    padding: 0 20px;
  }

  /* line 814, ../scss/global.scss */
  #header #logo {
    background-position: 0 center;
    background-size: 100% auto;
    width: 120px;
  }
}
