{% extends "base.html" %}
{% load i18n staticfiles thumbnail %}

{% block meta-title %} - Location de vélos{% endblock %}


{% block content %}
<div class="bg with-trame"> </div>
    <section class="site-content with-background">
      <div class="container">
        <div class="page">
          <header class="page-header">
            <h1>Louez votre Vélo</h1>
            <form id="" method="" action="">
              <div class="row">
                <div class="col-sm-6 col-4">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-xs-4 text-right">
                        <label>Location du :</label>
                      </div>
                      <div class="col-xs-8">
                        <input type="text" class="calendrier">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-4">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-xs-4 text-right">
                        <label>au :</label>
                      </div>
                      <div class="col-xs-8">
                        <input type="text" class="calendrier">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4">(2 jours de vélo)</div>
              </div>
            </form>
          </header>
          <div class="page-content">
            <ul class="filters">
                {% for category in categories %}
                <li><a href data-category="{{ category.pk }}">{{ category.label }}</a></li>
                {% endfor %}

            </ul>
            <ul class="list-items">

              {% for bike in bikes %}
                  <li>
                    <article class="item">
                      <header class="item-header">
                        <h2 class="item-title">{{ bike.label }}</h2>
                      </header>
                      <div class="item-content">

                        {% thumbnail bike.picture '200x130'  upscale=True as im %}
                        <img src="{{ im.url }}" alt="{{ bike.label }}" class="item-thumb"/>
                        {% endthumbnail %}

                        <div class="item-price">{{ bike.price }} €</div>
                        <div class="item-excerpt">
                          <p>{{ bike.description }}<a class="more">Lire la suite</a></p>
                        </div>
                        <select name="">
                            <option value="">Choix de la taille</option>
                            {% for size in bike.sizes.all %}
                                <option value="{{ size.pk }}">{{ size.label }}</option>
                            {% endfor %}
                        </select>
                        <p class="text-center"><small> <a  href="{% url "bike-choose-your-bike" %}" target="_blank" class="guide-taille">voir le guide des tailles</a></small></p>
                        <button class="btn btn-block">Sélectionner</button>
                      </div>
                    </article>
                  </li>
              {% endfor %}

              <!--<li>
                <article class="item">
                  <header class="item-header">
                    <h2 class="item-title">VTT de descente <span class="expert">expert</span></h2>
                  </header>
                  <div class="item-content"><img src="img/thumbs/vtt.jpg" alt="" class="item-thumb"/>
                    <div class="item-price">105,00 €</div>
                    <div class="item-excerpt">
                      <p>Un VTT Performance Freeride/DH permet de repousser ses limites sur tous les parcours descendants. Il vous...<a class="more">Lire la suite</a></p>
                    </div>
                    <select name="">
                      <option value="">Choix de la taille</option>
                    </select>
                    <p class="text-center"><small> <a class="guide-taille">voir le guide des tailles</a></small></p>
                    <button class="btn btn-block">Sélectionner</button>
                  </div>
                </article>
              </li>-->

            </ul>
          </div>
          <div class="page-content with-grad recap-section">
            <div class="field">
              <h3 class="title">2 personnes équipées</h3>
              <div class="box-recap box-table">
                                <div class="line">
                                  <div class="left"><a class="remove"><i class="icon-remove"></i></a></div>
                                  <div class="left recap-item">
                                    <h3>Nom client</h3>
                                    <h4>VTT DH expert 3 - taille L</h4>
                                  </div>
                                  <div class="right">
                                    <div class="price">105,00 €</div>
                                  </div>
                                </div>
                                <div class="line">
                                  <div class="left"><a class="remove"><i class="icon-remove"></i></a></div>
                                  <div class="left recap-item">
                                    <h3>Nom client</h3>
                                    <h4>VTT DH expert 3 - taille L</h4>
                                  </div>
                                  <div class="right">
                                    <div class="price">105,00 €</div>
                                  </div>
                                </div>
              </div>
            </div>
            <div class="field">
              <h3 class="title">Période de location</h3>
              <div class="box-table">
                <div class="line">
                  <p class="left lead nm">du <span>01 juin 2015 </span>au <span>02 juin 2015</span></p>
                  <button class="nm right">Modifier les dates</button>
                </div>
              </div>
              <div class="btn">Equiper une nouvelle personne</div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <h3 class="title">Code de réduction</h3>
                <div class="box box-reduc box-primary">
                  <div class="content">
                    <p>Si vous bénéficiez d’un code de réduction, veuillez saisir le code ci-dessous :</p>
                    <div class="row">
                      <div class="col-sm-6">
                        <input type="text">
                      </div>
                      <div class="col-sm-6">
                        <button class="btn btn-secondary">Valider</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <h3 class="title">TOTAL DE VOTRE COMMANDE :</h3>
                <div class="box box-recap-totaux">
                  <div class="content">
                    <div class="line">
                      <div class="left w70 text-right">Total :</div>
                      <div class="right w30 text-left">247,00 €</div>
                    </div>
                    <div class="line">
                      <div class="left w70 text-right">Accompte à payer (30%) :</div>
                      <div class="right w30 text-left">0,00 €</div>
                    </div>
                    <div class="line lead">
                      <div class="left w70 text-right">Solde à payer en magasin :</div>
                      <div class="right w30 text-left">247,00 €</div>
                    </div>
                  </div>
                </div>
                <div class="right">
                  <button>Payer ma commande</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}