{% extends "base.html" %}
{% load i18n staticfiles %}

{% block meta-title %} - Choisir son vélo{% endblock %}


{% block content %}

    <div class="bg with-trame"> </div>
    <section class="site-content with-background">
      <div class="container">
        <div class="page">
          <header class="page-header">
            <h1>{% trans "Choisir son vélo" %}</h1>
          </header>
          <div class="page-content">
            <article class="post post-societe">

              <div class="row row-spacer-bottom" >
                <div class="col-sm-6 col-8" >
                  <p >
                    Le choix d'un vélo est important. Plusieurs paramètres doivent être pris en compte : le prix est le premier, il permet de définir une gamme de vélo, c'est ensuite que les choses se compliquent.
                  </p>

                  <p>Tout acheteur doit se poser les bonnes questions et y répondre de façon sincère tout en s'efforçant de ne pas se laisser influencer par les modes et les rumeurs.</p>

                  <p>
                      <b>Quelle est ma pratique ?</b><br>

                    <ul>
                        <li>
                            Route:

                            <ul>
                                <li>
                                    Compétion
                                </li>
                                <li>
                                    Cyclo-sportif
                                </li>
                                <li>
                                    Cyclotourisme
                                </li>
                            </ul>
                        </li>
                        <li>
                            VTT:
                            <ul>
                                <li>DH (Sprint en descente)</li>
                                <li>Freeride (Je descends ou je veux)</li>
                                <li>Enduro (Longues descentes chronométrées où les relances sont très importantes et les montées  se font sur le vélo)</li>
                                <li>All Moutain (Je monte et descends en montagne)</li>
                                <li>XC marathon (rando et ou course de longue distance)</li>
                                <li>XC (course de petite ou moyenne distance)</li>
                            </ul>
                        </li>
                        <li>Loisir, balades dominicales</li>
                        <li>Usage quotidien (vélos à assistance électrique)</li>
                    </ul>

                  </p>

                    <p>
                        Si  pour le vélo de route le choix reste restreint, pour le VTT il est complexe et primordial. Ce qui nous amène à dire que le prix est peut être le premier paramètre, mais acheter un vélo uniquement pour son prix serait une erreur.
                    </p>
                    <p>
                        Nous sommes là pour vous guider dans vos choix et vous aider à ne pas le regretter par la suite. Nous effectuons aussi la mise aux cotes  personnalisée de votre future monture afin que le plaisir soit total et immédiat.
                    </p>

                    <p><strong>Quelques soient vos besoins, nous saurons vous accompagner dans votre démarche et trouver le vélo qui vous convient !</strong></p>

                </div>

                  <div class="col-sm-6 col-4"><img src="{% static "img/pages/velo-route-montana-zerow-105.jpg" %}" alt=""></div>
                  <div class="col-sm-6 col-4"><img src="{% static "img/pages/ktm-lycan-27-elite.jpg" %}" alt=""></div>
                  <div class="col-sm-6 col-4"><img src="{% static "img/pages/velo-assistance-electrique.jpg" %}" alt=""></div>

              </div>


            </article>
          </div>
        </div>
      </div>
    </section>

{% endblock %}