{% extends "base.html" %}
{% load i18n staticfiles %}

{% block meta-title %} - Nous contacter{% endblock %}

{% block content %}

    <div class="bg with-trame"> </div>
    <section class="site-content with-background">
      <div class="container">
        <div class="page">
          <header class="page-header">
            <h1>{% trans "Nous contacter" %}</h1>
          </header>
          <div class="page-content">
            <article class="post post-societe">
              <div class="row">
                <div class="col-12">
                  <h2 class="page-title">{% trans "Réalisation et hébergement" %}</h2>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate illo dolor expedita voluptas tempore quas sequi at error, voluptatum consequatur voluptatibus, et ab atque alias. Qui magni, esse mollitia, laboriosam repellat quod?
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <h2 class="page-title">{% trans "Cookies" %}</h2>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate illo dolor expedita voluptas tempore quas sequi at error, voluptatum consequatur voluptatibus, et ab atque alias. Qui magni, esse mollitia, laboriosam repellat quod?
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <h2 class="page-title">{% trans "Copyright" %}</h2>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate illo dolor expedita voluptas tempore quas sequi at error, voluptatum consequatur voluptatibus, et ab atque alias. Qui magni, esse mollitia, laboriosam repellat quod?
                  </p>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </section>

{% endblock %}