{% extends "base.html" %}
{% load i18n staticfiles %}

{% block meta-title %} - A propos du magasin{% endblock %}

{% block lazy-js %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
    {{ block.super }}

{% endblock %}

{% block content %}

    <div class="bg with-trame"> </div>
    <section class="site-content with-background">
      <div class="container">
        <div class="page">
          <header class="page-header">
            <h1>{% trans "Le magasin" %}</h1>
          </header>
          <div class="page-content">
            <article class="post post-societe">

              <div class="row row-spacer-bottom" >
                <div class="col-sm-6 col-8">
                  <h2 class="page-title subtitle" itemprop="name">Le concept</h2>
                  <p >
                  bla bla
                  </p>
                </div>

                  <div class="col-sm-6 col-4"><img src="http://placehold.it/300x300" alt=""></div>

              </div>

              <div class="row address">
                <div class="col-sm-6 col-8" itemscope itemtype="http://schema.org/Organization">
                  <h2 class="page-title subtitle" itemprop="name">SAS Global Vélo</h2>

                  <p >
                    <b>{% trans "Adresse" %}</b>
                    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                        <span itemprop="streetAddress">1 rue des pyrénnées</span><br>
                        <span itemprop="postalCode">64800</span>
                        <span itemprop="addressLocality">Nay, France</span>
                    </div>

                  </p>

                  <p>
                    <b>{% trans "Téléphone" %} :</b> <span itemprop="telephone">+33 6 87 89 96 18</span>
                  </p>

                  <p>
                  <b>{% trans "Email" %} :</b>  <span itemprop="email">contact@global-velo.pro</span>
                  </p>
                  <p>

                    <b>{% trans "Coordonnées GPS" %}</b><br>

                    <div itemtype="http://data-vocabulary.org/Geo">
                        <span itemprop="latitude" content="43.1784004" >Latitude : 43.1784004</span><br>
                        <span itemprop="longitude" content="-0.2617271999999957" >Longitude : -0.2617271999999957</span>
                    </div>

                  </p>

                </div>
                <div class="col-sm-6 col-4">
                    <div id="map" style="height:300px"></div>
                </div>
              </div>
              <div class="row address">
                <div class="col-12">
                  <h2 class="page-title subtitle">{% trans "Horaires d'ouverture" %}</h2>
                  <p>
                    <b>{% trans "Du lundi au samedi" %}</b> :
                    <span>de 9h à 19h</span>
                  </p>
                  <p>
                    <b>{% trans "Le dimanche" %}</b> :
                    <span>de 9h à 14h</span>
                  </p>
                </div>
              </div>

            </article>
          </div>
        </div>
      </div>
    </section>

{% endblock %}