{% extends "base.html" %}
{% block meta %}
    <title>Global Vélo – location, vente et réparation de vélos à Nay</title>
    <meta property="og:title" content="Global Vélo – location, vente et réparation de vélos à Nay" />
    <meta property="og:locale" content="{{ LOCALE }}" />
    <meta property="og:site_name" content="Global Vélo" />
    <meta property="og:url" content="{{ DOMAIN }}" />
    <meta property="og:description" content="Global Vélo vous accueille dans sa boutique à Nay pour répondre vos envies de sorties au grand air sur deux roues. Venez découvrir nos vélos en location et à vendre, neufs ou d’occasion.">
    <meta name="description" content="Global Vélo vous accueille dans sa boutique à Nay pour répondre vos envies de sorties au grand air sur deux roues. Venez découvrir nos vélos en location et à vendre, neufs ou d’occasion.">
{% endblock meta %}


{% block bodyclass %}shop{% endblock bodyclass %}

{% load staticfiles utils crispy_forms_tags thumbnail %}

{% block content %}
        
        

        

        <main class="page">
            <div id="shop-splash" class="splash  slide">
                <div id="map"></div>
                <span>
                    <span class="title">
                        <h1>Global</h1>
                        <h2>Vélo</h2>
                    </span>
                </span>
            </div>
            
            <div class="wrapper">
                <nav class="subnav">
                    {% for page in pages %}
                        <a href="#{{ page.title|slugify }}">{{ page.title }}</a>
                    {% endfor %}
                </nav>    
                <section>
                {% for page in pages %}
                    <article id="{{ page.title|slugify }}">
                    {% if page.template ==  "contacts" %}
                        <h1>{{ page.title }}</h1>
                        {{ page.subtitle|verbose:"<h2>%s</h2>" }}
                        <div class="text">
                            {{ page.texte|safe }}
                        </div>
                        <form data-ajax-uri="{% url 'shop-contact' %}" action="{% url 'shop-contact' %}" method="POST">
                            <div data-show-on-success class="form-success" {% if not show_success_message %}style="display:none"{% endif %}>
                                Votre message a été envoyé ! Nous vous contacterons dans les plus brefs délais.
                            </div>

                            <div data-hide-on-success>
                                {% crispy form %}

                                <div class="buttonHolder right">
                                    <input type="submit" class="btn btn-primary " value="Envoyer">
                                </div>
                            </div>
                        </form>

                    {% elif page.template == "partners" %}
                        <h1>{{ page.title }}</h1>
                        {{ page.subtitle|verbose:"<h2>%s</h2>" }}
                        <div class="text">
                            {{ page.texte|safe }}
                        </div>
                        <div id="partners">
                            {% for partner in partners  %}
                                <a href="{{ partner.website }}">
                                {% thumbnail partner.picture '200' as im %}
                                 <div class="col-sm-6 col-3">
                                    <img src="{{ im.url }}" alt="{{ partner.name }}" width="{{ im.width }}" height="{{ im.height }}">
                                 </div>
                                 {% endthumbnail %}
                                
                                    <strong>{{ partner.name }}</strong>
                                </a>
                            {% endfor %}
                        </div>
                    
                    {% else %}
                        {% if page.picture %}

                        {% thumbnail page.picture "720x480" crop="center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                        {% endthumbnail %}
                        {% endif %}
                        <h1>{{ page.title }}</h1>
                        {{ page.subtitle|verbose:"<h2>%s</h2>" }}
                        <div class="text">
                            {{ page.texte|safe }}
                        </div>
                    {% endif %}
                    </article>
                {% endfor %}
                </section>
            </div>
                   
        </main>
      
    
{% endblock content %}

{% block javascripts %}
    {{ block.super }}
    {# <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script> #}
    <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
    <script>
    $(function(){

        L.mapbox.accessToken = 'pk.eyJ1IjoiZ2xvYmFsdmVsbyIsImEiOiJjaW9qNWdteGswMDd1dXdreGc2YWN1cGlmIn0.nUcMCBCBWwqZSHfAnXug-Q';
       
        var map = L.mapbox.map('map', 'mapbox.mapbox-terrain-v2', {
          zoomControl: false
        }).setView([43.1788795,-0.2617652999999791], 14);

        L.tileLayer('https://api.mapbox.com/styles/v1/globalvelo/cioj9t18r000kgsm3aqlxjzp2/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoiZ2xvYmFsdmVsbyIsImEiOiJjaW9qNWdteGswMDd1dXdreGc2YWN1cGlmIn0.nUcMCBCBWwqZSHfAnXug-Q', {
            attribution: '',
            maxZoom: 18
        }).addTo(map);

        map.scrollWheelZoom.disable();

        var z = new L.Control.Zoom({ position: 'bottomright' }).addTo(map);


    })
    </script>
{% endblock javascripts %}