{% extends "base.html" %}

{% block bodyclass %}home{% endblock bodyclass %}

{% load staticfiles utils thumbnail %}

{% block content %}

        <main>
            <div id="slideshow" class="loading">      
            <div class="loader">
                <svg class="circular" viewBox="25 25 50 50">
                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
                </svg>
            </div>         
            <div class="owl-carousel">
            {% for slide in slides  %}
                {% thumbnail slide.picture '1850' as im %}
                <div class="slide" id="slide-{{ slide.id }}" style="background-image: url({{ im.url }})">
                    <a href="{{ slide.url }}">
                        <div>
                            <span class="title">
                            <h1>{{ slide.title }}</h1>
                            <h2 {% if slide.subtitle|length > 25 %} class="long"{% endif %}>{{ slide.subtitle }}</h2>
                            </span>

                            {{ slide.description|verbose:'<span class="description">%s</span>'|safe }}
                        </div>
                    </a>
                </div>
                {% endthumbnail %}
            {% endfor %}
            </div>
            </div>     
            <div id="dot"></div>       
        </main>

        <ul class=" navbox">
            <li id="box-magasin">
                <a href="{% url 'shop-contact' %}">
                    <span>
                        <strong>Le magasin</strong>
                        À Nay, un professionel à votre service
                    </span>
                </a>
            </li>
            <li id="box-locations">
                <a href="{% url 'bike-rental' %}">
                    <span>
                        <strong>Location</strong>
                        Découvrez nos offres et évadez-vous
                    </span>
                </a>
            </li>
            <li id="box-velos">
                <a href="{% url 'bike-sell' %}">
                    <span>
                        <strong>Les vélos</strong>
                        Neuf ou d’occasion, votre vélo vous attend
                    </span>
                </a>
            </li>
        </ul>
    
{% endblock content %}