{% extends "base.html" %}
{% block meta %}
    <title>Global Vélo – conseil, vente, entretien et réparation de vélos à Nay.</title>
    <meta property="og:title" content="Global Vélo – conseil, vente, entretien et réparation de vélos à Nay." />
    <meta property="og:locale" content="{{ LOCALE }}" />
    <meta property="og:site_name" content="Global Vélo" />
    <meta property="og:url" content="{{ DOMAIN }}" />
    <meta property="og:image" content="{{STATIC_URL}}img/global-velo-cover.png" />
    <meta property="og:description" content="À deux (roues) c’est mieux ! Global Vélo vous attend dans sa boutique à Nay pour vous faire découvrir nos vélos pour les sportifs comme pour les moins sportifs.">
    <meta name="description" content="À deux (roues) c’est mieux ! Global Vélo vous attend dans sa boutique à Nay pour vous faire découvrir nos vélos pour les sportifs comme pour les moins sportifs.">
{% endblock meta %}


{% block bodyclass %}velos{% endblock bodyclass %}

{% load staticfiles utils crispy_forms_tags thumbnail %}

{% block content %}
        
        

        

        <main class="page">
            <div id="velos-splash" class="splash slide">
                <span>
                    <span class="title">
                        <h1>Nos</h1>
                        <h2>Vélos</h2>
                    </span>
                </span>
            </div>
            
            <ul id="filtres">
                <li><a href="#" class="selected" data-filter="*">Tous</a></li>
                <li><a href="#" data-filter=".man">Homme</a></li>
                <li><a href="#" data-filter=".woman">Femme</a></li>
                <li><a href="#" data-filter=".child">Enfant</a></li>   
                <li class="sep">|</li>
                <li class="sub">
                    <a href="#">Marque</a>
                    <ul>
                        <li><a href="#" data-filter=".ktm">KTM</a></li>
                        <li><a href="#" data-filter=".bbb">BBB</a></li>
                        <li><a href="#" data-filter=".bh">BH</a></li>   
                        <li><a href="#" data-filter=".montana">Montana</a></li>   
                    </ul>
                </li>
                <li class="sep">|</li>
                <li class="sub">
                    <a href="#">Style</a>
                    <ul>
                    <li><a href="#" data-filter=".vtt">VTT</a></li>
                    <li><a href="#" data-filter=".vtc">VTC</a></li>
                    <li><a href="#" data-filter=".route">Route</a></li>   
                    <li><a href="#" data-filter=".vae">E.bike</a></li>   
                    </ul>
                </li>
                <li class="sep">|</li>
                <li><a href="#" data-filter=".neuf">Neuf</a></li>
                <li><a href="#" data-filter=".occasion">Occasion</a></li>
            </ul>

            <div id="bikes" class="loading alt">
                <div class="loader">
                    <svg class="circular" viewBox="25 25 50 50">
                        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
                    </svg>
                </div>
                
                <div class="owl-carousel">
                {% for bike in bikes  %}
                    <div class="
                        bike 
                        {{ bike.gender }} 
                        {{ bike.brand|slugify }}
                        {% for category in bike.categories.all %} {{ category.short_label }} {% endfor %}
                        {% if bike.second_hand %} occasion{% else %}neuf {% endif %}">
                        <a href="#">
                            {% thumbnail bike.picture "900x600" crop="center" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                            {% endthumbnail %}
                            
                            <div class="title">
                                <h1>{{ bike.label }}</h1>
                                <span class="price">{{ bike.price }} €</span>
                            </div>
                            <div class="text">
                                {{ bike.brand }} — 
                                {{ bike.description|safe }}                                
                            </div>                            
                        </a>
                    </div>
                    {% if forloop.last %}
                    <div class="bike andmore" id="andmore">
                        <a href="{% url 'shop-contact' %}">&amp; bien plus au magasin !</a>
                    </div>
                        
                    {% endif %}
                {% endfor %}
                </div>
            </div>


            <div class="wrapper">
                <nav class="subnav">
                    {% for page in pages %}
                        <a href="#{{ page.title|slugify }}">{{ page.title }}</a>
                    {% endfor %}
                </nav>    
                <section>
                    
                {% for page in pages %}
                    <article id="{{ page.title|slugify }}">
                        {% if page.picture %}
                        {% thumbnail page.picture "720" crop="center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                        {% endthumbnail %}
                        {% endif %}
                        <h1>{{ page.title }}</h1>
                        {{ page.subtitle|verbose:"<h2>%s</h2>"|safe }}
                        <div class="text">
                            {{ page.texte|safe }}
                        </div>
                    </article>
                {% endfor %}
                </section>
            </div>
                   
        </main>
      
    
{% endblock content %}

{% block javascripts %}
    {{ block.super }}
    
{% endblock javascripts %}