{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block "content" %}
  <div class="col col-center w700p">
    
        <h1 class="tag text-center">
          Se connecter
        </h1> 
    
        <form method="POST">
          
          {% crispy form %}
          
          <div class="buttonHolder">
            <a href="{% url "password_reset_recover" %}?next={{request.GET.next|default:"/"}}" class="btn btn-default ">Mot de passe oublié</a>
            <a href="{% url "users-user-create" %}?next={{request.GET.next|default:"/"}}" class="btn btn-default ">Créer un compte</a>
            <input type="submit" class="btn btn-primary " value="Valider">
          </div>
          
        </form>
    
  </div>

{% endblock %}
