{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block "content" %}
  <div class="col col-center w700p">
    
      <h1 class="tag text-center">
        Créer un compte
      </h1> 
    
      <form method="POST">
          
          {% crispy form %}
          
          <div class="buttonHolder">
            <a href="{% url "users-user-login" %}?next={{request.GET.next|default:"/"}}" class="btn btn-default ">Utiliser un compte existant</a>
            <input type="submit" class="btn btn-primary " value="Valider">
          </div>
          
       </form>
    
  </div>

{% endblock %}
