{% extends "base.html" %}
{% load i18n staticfiles %}

{% block meta-title %} - Location de vélo{% endblock %}


{% block content %}

    <div class="bg with-trame"> </div>
    <section class="site-content with-background">
      <div class="container">
        <div class="page">
          <header class="page-header">
            <h1>{% trans "Louer un vélo" %}</h1>
          </header>
          <div class="page-content">
            <article class="post post-societe">

              <div class="row row-spacer-bottom" >
                <div class="col-12" style="text-align:center">

                    Le module de réservation en ligne n'est pas encore disponible.<br><br> En attendant nous vous invitons à nous contacter en utilisant notre page contact<br><br>

                    <a href="{% url 'shop-contact' %}">NOUS CONTACTER</a>

                </div>

              </div>


            </article>
          </div>
        </div>
      </div>
    </section>

{% endblock %}